# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
/.idea
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

./assets/ACFrOgA9GFLw5Ao7_D-VQHidEm2zeoMtGIGjnK2Hw-Um-48pOYBmsM20Xm5I5O0o0yxh7A8csjrimvQVHfA9xC66cza6iIBAb75OThHwCLYedfJf-rZ-PQzwtaQu_SylV6NcVvTRrjyc-ok-JZGk.pdf
