.home {
    display: grid;
    grid-auto-columns: minmax(4, 5);
    grid-template-columns: 150px 150px 150px 150px 150px;
    gap: 10px 50px;
    margin: 0 auto;
    padding: 20px;
    width: 85%;
    height: 400px;
    overflow: scroll;
    background-color: white;
}
