.home {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 180px 180px;
    margin: 0 auto;
    padding: 20px;
    width: 90%;
    height: 450px;
    background-color: white;
}